/target/
target/*
.project
.settings
.classpath
.metadata/
.idea/
plugin/
*.iml
RemoteSystemsTempFiles/
logs/
conf/
dependency-reduced-pom.xml
jlogstash.iml
lib/

!/pipeline/outputs/hdfs/src/main/java/com/dtstack/jlogstash/format/plugin/
!/core/src/main/java/com/dtstack/jlogstash/annotation/plugin/
